.body {
    margin-left: 25px;
    margin-top: 120px;
    font-family: 'rubik';
   
   }
   .h1tag {
     font-size: 33px;
      color: rgb(22, 22, 22);
     
   }
   .h2tag {
   color: #3c3c3c; 
   margin-top: -20px;
   font-size: 18px;
   line-height: 1.7;
   margin-bottom: -10px;
   }
   .dropdoentext {
     color: #999999;
     font-size: 12px;
     margin-bottom: -8px;
     font-family: 'roboto';
     font-weight: 500;
   }
   .sub {
     color: #17171d;
     font-size: 14px;
     font-weight: 400;
     margin-left: 20px;
   }
   
   .main {
     margin-top: 40px;
     font-size: 14px;
   }
   
   .button {
     margin-top: 10px;
   
   }
   

   .nav{
    margin-left: 180px; font-size: 16px; color: #2f2f2f; margin-right: 180px;
    border: none !important;
  }
  
  
   .dropdoen .p-dropdown-label{
    font-size: 14px;
    color: black;
    font-weight: 500;
    font-family: 'Rubik';
   }
   .dropdoen .p-dropdown {
     border: none;
     color: black;
   }
   
   .img{
     display: block;
     margin-left: 5%;
     margin-right: auto;
   }
   
   .inputbox{
     margin-top: 30px;
   }
   

   .foter{
     background-color: #181E2A;
     height: 290px;
     font-size: 14px;
     color: white;
     font-family: 'rubik';
     margin-top: 50px;
     margin-left: "210px"
   }
   
   .line{
     width: 100%;
     border-top: 1px solid rgb(214, 214, 214);
   }
   
   .icon {
     margin-right: 10px;
   }
   
   .sub2 {
     font-size: 19px;
     line-height: 1.7;
     font-weight: 400;
   }
   
   
   .p-inputgroup .p-inputtext{
     width: 500px;
   }
   
   .button .p-button-label{
     font-weight: 400;
   }
   
   .nav .p-menuitem-text {
     font-weight: 400;
   }
   
   .nav .p-menubar{
     border: none;
   
   }
   
   .nav .p-menuitem{
     margin-left: -5px;
     font-family: 'rubik';
   }
   
   .navbar .p-menubar{
    background-color: #1e1eb100 !important;
   }

   /* .navbar{
    background: none !important;
    height: 100px !important;
   } */
   
   .landingtext{
     text-align: center;
     
     margin-top: 175px;
     font-weight: 300;
     font-family: 'rubik';
   }
   .container {
    overflow: none !important;
   }

   .p-menuitem-text a{
    text-decoration: none !important;
    color: #495057 !important;
   }